.edit-author-form,
.author-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 220px;
  gap: 10px;
  padding: 25px;
  border-radius: 2px;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  transform: translate(-50%, 50%);
  justify-content: space-evenly;
}

.edit-author-form h2,
.author-form h2 {
  text-align: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item label {
  font-weight: 500;
}

.form-item input,
.form-item textarea {
  flex-grow: 1;
}

.edit-author-form .buttons,
.author-form .buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.edit-author-form button,
.author-form button {
  padding: 10px 20px;
  color: white;
  font-weight: 550;
  line-height: 1;
  border-radius: 5px;
}

.commit-btn,
.add-btn,
.send-edit-btn {
  background-color: black;
}

.return-btn,
.cancel-edit-btn {
  background-color: grey;
}
