header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 0 10px 0;
}

.authors-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors-utilities {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 10px 0 20px 0;
}

.authors-counter {
  display: flex;
  gap: 10px;
}

.authors-counter p,
.authors-utilities form label {
  margin: 0;
  font-weight: 900;
}

.authors-utilities form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.authors-utilities form select {
  text-align: center;
  padding: 2px 8px;
}

.authors-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.author-item-wrapper {
  padding: 10px 8px;
}

.author-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  line-height: 1;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 2px;
}

.author-item .name {
  display: flex;
  gap: 4px;
  font-weight: 900;
}

.name p {
  margin: 0;
  font-size: 18px;
}

.author-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.author-btns img {
  width: 20px;
  aspect-ratio: 1 / 1;
}
