.book-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 25px;
  box-shadow: var(--box);
  border-radius: 8px;

}

.book-form h2 {
  text-align: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item label {
  font-weight: 500;
}

.form-item input,
.form-item textarea {
  flex-grow: 1;
}

.book-form .buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.book-form button {
  padding: 10px 20px;
  color: white;
  font-weight: 550;
  line-height: 1;
  border-radius: 5px;
}

.commit-btn,
.add-btn {
  background-color: black;
}

.return-btn {
  background-color: grey;
}

.modal {
  position: absolute;
  background-color: white;
  z-index: 1001;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.veil,
.password-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}
