.index-header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 0 10px 0;
}



.book-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-utilities {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 10px 0 20px 0;
}

.index-utilities form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.index-utilities form select {
  text-align: center;
  padding: 2px 8px;
}

.book-counter {
  display: flex;
  gap: 10px;
}

.book-counter p,
.index-utilities form label {
  margin: 0;
  font-weight: 900;
}

.books-container {
  width: 92%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-header,
.book-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.2fr 0.6fr 0.2fr;
  text-align: center;
  align-items: center;
  line-height: 1;
  width: 100%;
  padding: 8px 10px;

}

.list-header h2 {
  font-size: 26px;
  border-bottom: 3px solid black;
  margin: auto
}

.book-item {
  padding-top: 5px;
  font-size: 18px;

}

.book-item img {
  width: 22px;
}

.book-item a,
.book-item p {
  margin: auto;
}

.book-item a {
  font-weight: 600;
  transition: transform ease-out 0.1s;
}

.book-item a:hover {
  transform: scale(1.1);
}
