.form-delete {
  flex-direction: column;
  width: 300px;
  gap: 20px;
  padding: 25px;
  box-shadow: var(--box);
  border-radius: 8px;
  transform: scale(-);
}

.form-delete h2 {
  text-align: center;
}

.form-delete .form-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-delete .form-item label {
  font-weight: 500;
}

.form-delete .form-item input {
  flex-grow: 1;
}

.form-delete .delete-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.form-delete button {
  padding: 10px 20px;
  color: white;
  font-weight: 550;
  line-height: 1;
  border-radius: 5px;
}

.form-delete .submit-delete-btn {
  background-color: red;
}

.form-delete .cancel-delete-btn {
  background-color: grey;
}

.form-delete {
  position: absolute;
  background-color: white;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
