body {
  /* Variables */
  --font1: Helvetica;
  --gap: 20px;
  --box: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --box2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* */
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  position: relative;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: none;
  transition: transform 0.1s ease-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.index-header {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

.book-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-utilities {
  display: flex;
  width: 100%;
}

.index-utilities {
  justify-content: space-between;

}

.book-counter {
  display: flex;
  gap: 10px;
}

.books-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-header,
.book-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.5fr;
  text-align: center;
  align-items: center;
  line-height: 1;
  width: 100%;
}

.book-item {
  box-shadow: var(--box);
  border-radius: 10px;
  padding: 3px 0;
}

.book-item img {
  width: 20px;
}
