.navbar {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;

}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 5px 0;
}

.navbar ul {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--gap);

}

.navbar li {
  color: white;
}

.navbar a {
  color: white;
  display: block;
}

.navbar a:hover {
  color: grey;
}

.navbar img {
  width: 30px;
  transition: transform ease-out 0.1s;
}

.navbar img:hover {
  transform: scale(1.1);
}
