.navbar {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  z-index: 10;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 15px 0;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;

}

.navbar li {
  color: white;
}

.navbar li a:hover {
  transform: scale(1.1);
}

.navbar a {
  color: white;
  display: block;
  font-size: 20px;
}

.navbar img {
  width: 25px;
}

.navbar img:hover {
  transform: scale(1.1);
}
