.validator {
  flex-direction: column;
  width: 300px;
  gap: 20px;
  padding: 25px;
  box-shadow: var(--box);
  border-radius: 8px;
  transform: scale(-);
}

.validator h2 {
  text-align: center;
}

.validator .form-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-label img {
  width: 20px;
}

.validator .form-item label {
  font-weight: 500;
}

.validator .form-item input {
  flex-grow: 1;
}

.validator .validator-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.validator button {
  padding: 10px 20px;
  color: white;
  font-weight: 550;
  line-height: 1;
  border-radius: 5px;
}

.validator .submit-btn {
  background-color: red;
}

.validator .cancel-validation-btn {
  background-color: grey;
}

.validator {
  position: absolute;
  background-color: white;
  z-index: 2001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
