header {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

.publishers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publishers-utilities {
  display: flex;
  width: 100%;
}

.publishers-utilities {
  justify-content: space-between;

}

.publishers-counter {
  display: flex;
  gap: 10px;
}

.publishers-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.publisher-item-wrapper {
  padding: 8px;
}

.publisher-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 6px 15px;
  line-height: 1;
  border: 2px solid black;
  border-radius: 2px;
}


.name p {
  margin: 0;
}

.publisher-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.publisher-btns img {
  width: 17px;
  aspect-ratio: 1 / 1;
}
