header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 0 10px 0;
}

.publishers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publishers-utilities {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 10px 0 20px 0;
}

.publishers-counter p,
.publishers-utilities form label {
  margin: 0;
  font-weight: 900;
}

.publishers-utilities form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}

.publishers-utilities form select {
  text-align: center;
  padding: 2px 8px;
}


.publishers-counter {
  display: flex;
  gap: 10px;
}

.publishers-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.publisher-item-wrapper {
  padding: 10px 8px;
}

.publisher-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  line-height: 1;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}


.name p {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
}

.publisher-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.publisher-btns img {
  width: 20px;
  aspect-ratio: 1 / 1;
}
