<div class="form-delete form-wrapper inactive">
  <form method="POST">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="bookId" id="form-book-id">

    <div class="form-item">
      <label for="password">Insert admin password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div class="delete-buttons">
      <button class="cancel-delete-btn" type="button">Cancel</button>
      <button class="submit-delete-btn" type="submit">Delete</button>
    </div>
  </form>
</div>
