<nav class='navbar'>
  <div class="nav-wrapper">

    <a href="/add"><img src="icons/ws-add.png" alt=""></a>
    <ul>
      <li><a href="/">Library</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/publishers">Publishers</a></li>
      <li><a href="/admin"><img src="/icons/login.png" alt=""></a></li>
    </ul>
  </div>
</nav>
