<nav class='navbar'>
  <div class="nav-wrapper">

    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/">Books</a></li>
      <li><a href="/publishers">Publishers</a></li>
    </ul>
  </div>
</nav>
