<div class="password-veil inactive"></div>
<div class="validator form-wrapper inactive">
  <form method="POST">
    <input id='protected-action' type="hidden" name="action">
    <input type="hidden" name="bookId" id="form-book-id">

    <div class="form-item">
      <label for="password">Insert admin password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div class="validator-buttons">
      <button class="cancel-btn" type="button">Cancel</button>
      <button class="submit-btn" type="submit">Commit</button>
    </div>
  </form>
</div>
