<!--Create Form-->
<form class='publisher-form modal inactive' method="POST">
  <h2>Add a new publisher</h2>
  <input type="hidden" name="action" value='create' />
  <div class="form-item">
    <label for="name">Name</label>
    <input type="text" id="name" name="publisher_name" required>
  </div>

  <div class="buttons">
    <button type="button" class="return-btn">return</button>
    <button type="submit" class="add-btn">add</button>
  </div>
</form>
<!--Edit Form-->
<form class='edit-publisher-form modal inactive' method="POST">
  <h2>Edit publisher</h2>
  <div class="form-item">
    <label for="name"> First name</label>
    <input type="text" id="name" name="publisher_name" required>
  </div>
  <div class="buttons">
    <button type="button" class="cancel-edit-btn">return</button>
    <button type="button" class="send-edit-btn">edit</button>
  </div>
</form>
